media/*
bsuapi/media/*
*.pyc
.idea
.idea/misc.xml
.idea/workspace.xml
.DS_Store
*.rdb
*/.cache
*.swp
*.dump
staticfiles/*
db.sqlite3
celerybeat-schedule
celerybeat.pid
logs/*
client_secret.json
cloudvision.json
*.pdfsendgrid.env
.nvim/
