[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
django-cors-headers = "*"
django-extensions = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2-binary = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.6"
